---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await response.json()) as PokemonListResponse;

  return paginate(results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const title = "Pokémon Static | Home";
const { page } = Astro.props;
---

<MainLayout title={title}>
  <h1 class="text-3xl">Listado de Pokémons</h1>
  <hr />

  <section
    aria-label="Listado de Pokémons"
    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-4 mt-5"
  >
    <!-- {data.results.map((pokemon) => <li>{pokemon.name}</li>)} -->
    {page.data.map(({ name, url }) => <PokemonCard name={name} url={url} />)}
  </section>

  <section class="flex mt-10 gap-2 items-center">
    <a class="btn" href={page.url.prev}>Anteriores</a>
    <a class="btn" href={page.url.next}>Siguientes</a>
    <div class="flex flex-1"></div>
    <span>P&aacute;gina 1</span>
  </section>

  <style>
    @reference "tailwindcss";

    .btn {
      @apply bg-blue-500 p-2 text-white rounded-md;
    }

    .disabled {
      @apply bg-gray-600 text-gray-400;
    }
  </style>
</MainLayout>
